button.bg-MMI {
    background-image:url(../assets/MMI.png);
}

button.bg-TC {
    background-image:url(../assets/TC.png);
}

button.bg-GCCD {
    background-image:url(../assets/GCCD.png);
}

button.bg-Chimie {
    background-image:url(../assets/Chimie.png);
}

button.bg-CJ {
    background-image:url(../assets/CJ.png);
}

button.bg-CS {
    background-image:url(../assets/CS.png);
}

button.bg-GACO {
    background-image:url(../assets/GACO.png);
}

button.bg-GB {
    background-image:url(../assets/GB.png);
}

button.bg-GCGP {
    background-image:url(../assets/GCGP.png);
}

button.bg-GEA {
    background-image:url(../assets/GEA.png);
}

button.bg-GEII {
    background-image:url(../assets/GEII.png);
}

button.bg-GIM {
    background-image:url(../assets/GIM.png);
}

button.bg-GMP {
    background-image:url(../assets/GMP.png);
}

button.bg-HSE {
    background-image:url(../assets/HSE.png);
}

button.bg-Info-Com {
    background-image:url(../assets/Info-Com.png);
}

button.bg-INFO {
    background-image:url(../assets/INFO.png);
}

button.bg-MLT {
    background-image:url(../assets/MLT.png);
}

button.bg-MP {
    background-image:url(../assets/MP.png);
}

button.bg-MT2E {
    background-image:url(../assets/MT2E.png);
}

button.bg-PEC {
    background-image:url(../assets/PEC.png);
}

button.bg-QLIO {
    background-image:url(../assets/QLIO.png);
}

button.bg-RT {
    background-image:url(../assets/RT.png);
}

button.bg-SD {
    background-image:url(../assets/SD.png);
}

button.bg-SGM {
    background-image:url(../assets/SGM.png);
}

button.bg-DEFAULT {
    background-image:none;
}